.contact-main-container{
    display: flex;
    justify-content: space-around;
    padding:30px 10px 20px 10px;
    
}
.contact-main-container h1{
    color: blue;
}
.contact-main-container h2{
   height:300px;
   width:500px;
   border: 1px solid;
}
.map-view{
    height:400px;
    width:48vw;
}

@media (max-width:976px) {
    .map-view{
        height:350px;
        width:80vw;
    }
    
    .contact-main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding:10px;
    }
    .contact-main-container h1{
        font-size: 20px;
        color: blue;
     }
     .contact-main-container h4{
        font-size: 14px;
     }
     .address{
        text-align: center;
     }
}