.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:linear-gradient(black,gray,gray,black);
}
.logo-img{
    height: 80px;
    width:150px;
    margin:7px;
    object-fit: cover;
}
.li-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link{
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    color: white;
}

