.submit-main-container{
    width:fit-content;
    background-color: #efeded;
    padding: 25px;
    border-radius: 10px;
    height: fit-content;
    margin-top: 20px;
    
}
.form{
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    
}
input{
    height: 30px;
    width:350px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
}
.sub-but{
    color: white;
    background-color:rgb(56, 170, 202);
    border-radius: 10px;
    font-size: 20px;
    height: fit-content;
    padding: 10px;
    border: solid;
}
button:hover{
    color:rgb(56, 170, 202);
    background-color:white;
    border: solid;
}

@media (max-width:976px) {
    input{
        height: 30px;
        width:250px;
        background-color: #f2f2f2;
        border: none;
        border-radius: 5px;
    }
    form h3{
        font-size: 17px;
    }
    .submit-main-container h1{
        font-size: 20px;
    }

}